@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

input,
label {
    display: inline-block;
    margin: 1%;
}

body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    background-image: url(/images/greycafe.jpg);
    width: 96vw;
    height: auto;
    padding-bottom: 10%;
}

.btn-outline-primary {
    color: #1F78AC;
    border-color: #1F78AC;
}

.btn-check:active+.btn-outline-primary, 
.btn-check:checked+.btn-outline-primary, 
.btn-outline-primary.active, 
.btn-outline-primary.dropdown-toggle.show, 
.btn-outline-primary:active {
    color: #fff;
    background-color: #1F78AC;
    border-color: #1F78AC;
}

.wrapper {
    width: 90%;
    background-color: white;
    border-radius: 5%;
    border: blue solid 2px;
    margin: 5%;
    font-size: large;
}

.wrapper div {
    margin: 5%;
}

#buttondiv {
    text-align: center;
}

.btn-info {
    color: white;
    background-color: #022B3A;
    border-color: #022B3A;
}

#submit {
    border-radius: 15%;
}


.header {
    margin: 5%;
}

h4 {
    font-size: 2rem;
}

.input-group {
    width: auto;
}

#loadedPic {
    display: inline-block;
}