input,
label {
    display: inline-block;
    margin: 1%;
}

body {
    height: 100%;
}

.container {
    background-image: url(/images/greycafe.jpg);
    width: 96vw;
    height: auto;
    padding-bottom: 10%;
}

.wrapper {
    width: 90%;
    background-color: white;
    border-radius: 5%;
    border: blue solid 2px;
    margin: 5%;
    font-size: large;
}

.wrapper div {
    margin: 5%;
}

#buttondiv {
    text-align: center;
}

#submit {
    border-radius: 15%;
}


.header {
    margin: 5%;
}

h4 {
    font-size: 2rem;
}

.input-group {
    width: auto;
}

#loadedPic {
    display: inline-block;
}