@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
  font-family: 'Ubuntu', sans-serif;
}

.contain {
background-image: url("/images/laptop_office_desk.jpg");
background-color: #e1e5f2;
background-size: contain;

}
.text_color{
/* color:whitesmoke; */
text-align: center;
color:whitesmoke;

}
