@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
  font-family: 'Ubuntu', sans-serif;
}

/**TITLE**/
#welcome {
    min-height: 40%;
}
#title {
    padding: 5%;
    font-weight: bold;
    text-align: center;
    color: #022b3a;
}
.card {
    margin: auto;
    border: none;
    background: #eee
}
#name {
    font-size: 60pt;
}


/**SEARCH BAR**/
#searcharea {
    background-color: #e1e5f2;
}
.fas {
    font-size: 40pt;
    color: #1F7A8C;
}
.search {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px
}
.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear;
}
.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}
.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1F7A8C;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px
}
.search-icon:hover {
    color: #fff !important;
    background-color: #BFDBF7;
}
a:link {
    text-decoration: none
}
.card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    color: #1F7A8C;
}
.card-inner:hover {
    transform: scale(1.1);
    color: #BFDBF7;
}
.mg-text span {
    font-size: 18px;
}
.mg-text {
    line-height: 20px;
}

/*EXPLORE AREA*/
#explore {
    text-align: center;
    margin: auto;
    width: 80%;
}
#exploretext {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
} 
#explore .nav-link.active {
    background-color: #1F7A8C;
}
#explore .nav-link:hover {
    border: 3px solid #1F7A8C;
    background-color: #BFDBF7;
    color: black;
}
#pills-tabContent {
    margin-top: 5%;
    margin-bottom: 5%;
}
.col {
    width: 33%;
    margin: auto;
    margin-bottom: 5%;
}
.col-md-2 {
    width: 20%;
}
span {
    font-size: 25px;
}
h2 {
    margin-bottom: 0px;
}

@media (max-width: 991px) {
    .col-md-2 {
        width: 100%;
    }
}