#welcome {
    min-height: 50%;
}

.whitebox {
    background-color: white;
    color: black;
    opacity: 0.9;
}

#missiontext {
    margin: 5%;
}

#carouselExampleDark {
    text-align: center;
    margin: auto;
    border-radius: 5%;
}

#title {
    padding: 5%;
    padding-bottom: 5%;
    font-weight: bold;
    text-align: center;
    color: #022b3a;
}

#titlebutt {
    text-align: center;
    margin: auto;
    background-color: #022b3a;
    border-color: white;
}

#titlecard {
    text-align: center;
    border-color: white;
}

#carouselmain {
    border: 1px solid white;
    width: 80vw;
    text-align: center;
    margin: auto;
    border-radius: 10%;
    margin-bottom: 5%;
}

.d-block {
    border-radius: 10%;
}

.card {
    margin: auto;
    border: none;
    background: #eee
}

.newtitle {
    margin-bottom: 5%;
    text-align: center;
    color: #022b3a;
}

body {
    background-color: #e1e5f2;
    color: #022b3a;
}

.navbar {
    background-color: #022b3a;
    color: #e1e5f2;
    height: 80px;
}
.nav-item {
    transition: 0.25s;
}
.nav-item:hover {
    border: 2px solid white;
    border-radius: .25rem;
}
#name {
    font-size: 60pt;
}

.col {
    width: 30%;
    margin: auto;
}

.smallcards {
    width: 70vw;
    margin: auto;
    margin-bottom: 5%;
}

.container2 {
    background-color: #e1e5f2;
    width: 100px;
    border-radius: 50%;
}

.logo {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/**SEARCH BAR**/
.search {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1F7A8C;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px
}

.search-icon:hover {
    color: #fff !important
}

a:link {
    text-decoration: none
}

.card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    color: #1F7A8C;
}

.card-inner:hover {
    transform: scale(1.1);
    color: #BFDBF7;
}

.mg-text span {
    font-size: 18px;

}
.mg-text {
    line-height: 20px;
}
#searcharea {
    background-color: #e1e5f2;
}
.fas {
    font-size: 40pt;
    color: #1F7A8C;
}