@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
  font-family: 'Ubuntu', sans-serif;
}

#preferences input,
#preferences label {
    display: inline-block;
}

div.stars {
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 0px;
    font-size: 36px;
    color: #bfdbf7;
    transition: all .2s;

}

input.star:checked~label.star:before {
    content: '\f005';
    color: #022b3a;
    transition: all .25s;

}

input.star-5:checked~label.star:before {
    color: #022b3a;
    text-shadow: 0 0 20px #1f7a8c;
}

input.star-1:checked~label.star:before {
    color: #F62;
}

label.star:hover {
    transform: scale(1.4);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

#review_content {
    border: 1px solid white;
    margin-bottom: 10px;
    margin-top: 10px
}

#post {
    background-color: #022b3a;
}